form {
    display: flex;
    flex-flow: column nowrap;
    padding: 10% 20% 20% 20%;
}

input {
    margin: 0 10% 20px 10%;
}

label {
    margin: 0 0 0 10%;
}

h1 {
    text-align: center;
    color: #2C6209;
}